#  ---------------------------------------------------------------------------
#  Unit Name  : docker-compose.yaml
#  Project    : IAMClient4D
#  Author     : Claudio Piffer
#  Copyright  : Copyright (c) 2018-2025 Claudio Piffer
#  License    : Apache License, Version 2.0, January 2004
#  Source URL : https://github.com/claudio-piffer/IAMClient4D
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  ---------------------------------------------------------------------------

services:
    db:
        image: "postgres:18-alpine"
        container_name: ${APP_NAME_PREFIX}-db
        restart: unless-stopped
        logging:
            driver: "json-file"
            options:
                max-size: "200m"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5
        environment:
            DB_PASS_FILE: /run/secrets/pg_keycloak_password.txt
            POSTGRES_PASSWORD_FILE: /run/secrets/pg_admin_password.txt
        volumes:
            - ./config/db:/docker-entrypoint-initdb.d/
            - db-data:/var/lib/postgresql/data
            - db-larc:/pg_log_archive
            - ./secrets/pg_admin_password.txt:/run/secrets/pg_admin_password.txt:ro
            - ./secrets/pg_keycloak_password.txt:/run/secrets/pg_keycloak_password.txt:ro
        networks:
            - iam-db-network
    iam:
        image: "quay.io/keycloak/keycloak:26.4"
        container_name: ${APP_NAME_PREFIX}-iam
        restart: unless-stopped
        logging:
            driver: "json-file"
            options:
                max-size: "200m"
        depends_on:
            - db
        healthcheck:
            test: ["CMD-SHELL", "curl -f http://localhost:8080/auth/health/ready || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 5                
        command: start --import-realm
        environment:
          # DATABASE
          KC_DB: postgres
          KC_DB_URL: jdbc:postgresql://db:5432/keycloak
          KC_DB_USERNAME: keycloak
          KC_DB_PASSWORD: ${IAM_DB_PASS}
          KC_DB_SCHEMA: keycloak

          # HTTP/HTTPS & REVERSE PROXY
          KC_HTTP_ENABLED: true
          KC_HTTP_RELATIVE_PATH: /auth/
          KC_HOSTNAME: ${DOMAIN_NAME}
          KC_HOSTNAME_PORT: ${GATEWAY_PORT}
          KC_PROXY_HEADERS: xforwarded
          KC_PROXY: edge
          KC_HOSTNAME_STRICT: true

          # HEALTH & METRICS
          KC_HEALTH_ENABLED: true
          KC_METRICS_ENABLED: true

          # BOOTSTRAP ADMIN
          KC_BOOTSTRAP_ADMIN_USERNAME: ${IAM_ADMIN_USER}
          KC_BOOTSTRAP_ADMIN_PASSWORD: ${IAM_ADMIN_PASS}

          # IMPORT REALM
          KC_FILE: /opt/keycloak/data/import/realm.json
          KC_OVERRIDE: false

          # LOGGING
          KC_LOG: console
          KC_LOG_LEVEL: info
          KC_LOG_CONSOLE_COLOR: true     
        volumes:
            - ./config/keycloak/realm:/opt/keycloak/data/import
        networks:
            - iam-db-network
            - iam-network
    gateway:
        image: nginx:stable-alpine
        container_name: ${APP_NAME_PREFIX}-gateway
        restart: unless-stopped
        environment:
          DOMAIN_NAME: ${DOMAIN_NAME}
          GATEWAY_PORT: ${GATEWAY_PORT}
          SSL_TRUSTED_CERT: ${SSL_TRUSTED_CERT}
          ENABLE_SSL_STAPLING: ${ENABLE_SSL_STAPLING}
          ENABLE_SSL_STAPLING_VERIFY: ${ENABLE_SSL_STAPLING_VERIFY}
        ports:
          - ${GATEWAY_PORT}:${GATEWAY_PORT}
        volumes:
           - ./config/nginx/templates:/etc/nginx/templates:ro
           - ./config/nginx/includes:/etc/nginx/includes
           - ./config/nginx/ssl:/etc/nginx/ssl:ro
           - ./config/nginx/entrypoint.sh:/entrypoint.sh:ro          
        depends_on:
          - iam
        networks:
          - iam-network
        command: ["/bin/sh", "/entrypoint.sh"]          
volumes:
    db-data:
        name: ${IAM_DB_VOLUME_NAME}
        external: true
    db-larc:
        external: true
        name: ${IAM_DB_LARC_VOLUME_NAME}
networks:
  iam-network:
    name: ${IAM_NETWORK_NAME}
  iam-db-network:
    name: ${IAM_DB_NETWORK_NAME}